<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MINI WHATSAPP</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h2> ALL  CHATS </h2>
    <form method="GET" action = "/chat/new">
        <button>New Chat </button>
        <br><br>
    </form>    

        <% for(let chat of chats){%>
            <div class="chat">
                <p>  From : <%=chat.from %> </p>
                <div class="msg">
                    <p><%= chat.msg %></p>
                    <form method="GET" action="/chat/<%=chat._id%>/edit">
                        <button>Edit</button>
                    </form>
                    <br>
                    <form method="POST" action="/chat/<%=chat._id%>?_method=DELETE">
                        <button>Delete</button>
                    </form>
                </div>
                <p> Received to : <%= chat.to %></p>  
                <hr>
                <p><%= chat.created_at.toString().split(" ")[4] %></p>
                <p><%= chat.created_at.toString().split(" ").slice(0,4).join("-") %></p>

            </div> 
            <br>
            <br>
        <%}%>

    
</body>
</html>